body {
  margin: 0;
  font-family:'Uni Sans Heavy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  color: white;
  background-color: #1e1f22;
}

html
{
  background-color: #1e1f22;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: white;

}

.App{
  display: flex;
  font:'Uni Sans Heavy';
  background-color: #1e1f22;
}

#dropdown-basic-button{
  width:240px;
  background-color: #2b2d31;
  border-color: #313338;
}

.p-2:hover 
{
  transform: scale(1.1);
  transition-duration: 0.5s;
  border-radius: 0%;
}

.chanBttn {
      margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 5px;
    width: 90%; 
    transition: all .5s ease;
    color: #7a7e88;
    border: none  ;
    text-align: left;
    line-height: 1;
    background-color :#2b2d31 ; 
    padding: 5px;
    outline: none;
    border-radius: 4px;
   
}
.chanBttn:hover {
    color: #dbdee1;
    background-color: #36373d;
  
    
}

#dropdown
{
  width:auto
}

.dropdown-menu.show{
  color:white;
  background-color: black;
  

}


 .dropdown a:link {
  color:white;
  text-decoration:none; 
  font-size: larger;
  
} 

#smallchan{
  font-size:14px;
  color: #7a7e88;
  

}
#smallchan:hover{
  color: #dbdee1;
  cursor: pointer;
}
#smallChanSpan
{
  color: #7a7e88;
}
#smallChanSpan:hover{
  color: #dbdee1;
  cursor: pointer;
}
#plus{
  margin-left: 40px;
}

#message  {
  margin-left: 10px;
  opacity: 160%;
  color:white;

}

 #addmember{
  margin-left: 10px;
  opacity: 160%;
}

#addmember:hover{
opacity: 100%;
color: white;
}

#message:hover  {
opacity:100%;
}
.chanBttn:hover {
  color: #dbdee1;
  background-color: gray;   
} 
.chanBttn:focus {
background-color: gray;
color:#36373d;  
} 
#avatar {
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 10px;
}
.card-display {
  min-width: 400px;
  border-radius: 15px;
  border-color: white;
  color: black;
  margin: 20px;
}
.card-display-image {
  max-width: 600px;
  min-width: 400px;
  /* max-height: 900px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: -2px 0px 11px white;
}
.card-display-body {
  max-width: 600px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 400px;
  box-shadow: 2px 0px 11px white;
}
.comment-div{
  /* max-width:400px; */
  max-width: 80%;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

.comment-input{
  position: relative;
  text-align: center;
}

.add-comment-button{
  position:relative;
  float:right;

}
#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 6;
  -webkit-column-gap: 0px;
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
}
@media (max-width: 1700px) {
  #photos {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
}
@media (max-width: 1400px) {
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1100px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  .card-display {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    
  }
  .card-display-image {
    border-top-right-radius: 15px;
    /* border-bottom-right-radius: 0px; */
    border-bottom-left-radius: 0px;
    box-shadow: 0px -2px 11px white;
  }
  .card-display-body {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 2px 11px white;
    min-height:400px;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 650px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #2b2d31;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}